<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex  sm:items-center min-w-0 my-8 sm:my-12">

                <div class="flex flex-auto items-center justify-between min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div
                            class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate ng-star-inserted">
                            Roles Management
                        </div>

                        <div class="flex items-center">
                            <div class="ml-1.5 leading-6 truncate text-secondary">
                                manage roles, create edit or delete
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex items-center ml-6">
                    <button class="fuse-mat-button-rounded hidden sm:inline-flex" mat-flat-button [color]="'primary'"
                        (click)="onCreate()" *ngIf="authorizeAccess.isCreate">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        <span class="ml-2">Add Role</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>Add Role</button>
                            <button mat-menu-item>Mock</button>
                            <button mat-menu-item>Mock</button>
                        </mat-menu>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Search Panel -->
        <mat-expansion-panel multi
            class="flex flex-col flex-auto w-full max-w-screen-xl mt-2 bg-card shadow rounded-2xl ">
            <mat-expansion-panel-header [collapsedHeight]="'80px'">
                <mat-panel-title>
                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Search</div>
                </mat-panel-title>
                <mat-panel-description>
                    This is the primary search of the panel.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider class="my-4"></mat-divider>
            <div class="grid grid-cols-1 md:grid-cols-2 flex-wrap" [formGroup]="searchFrom">
                <div class="flex flex-col m-2">
                    <h1>Name</h1>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="name"
                            class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2"
                            type="text" aria-label="Search" placeholder="" />
                    </mat-form-field>
                </div>
                <div class="flex flex-col m-2">
                    <h1>Description</h1>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="description"
                            class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2"
                            type="text" aria-label="Search" placeholder="" />
                    </mat-form-field>
                </div>
            </div>

            <!-- Footer -->
            <mat-divider class="my-4"></mat-divider>
            <div class="grid grid-row lg:justify-end md:w-full">
                <button class="fuse-mat-button-rounded w-full" mat-flat-button [color]="'primary'" (click)="onSearch()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <span class="ml-2">Search</span>
                </button>
            </div>

        </mat-expansion-panel>

        <!-- Table -->
        <div class="flex flex-col flex-auto w-full max-w-screen-xl mt-8 bg-card shadow rounded-2xl ">
            <div class="p-6">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Table of transactions</div>
                <!-- <div class="text-secondary font-medium">1 pending, 4 completed</div> -->
            </div>

            <div class="mx-6 mb-6 overflow-auto" style="min-height: 400px">
                <p-table [columns]="roleCol" [value]="roleList?.items" [loading]="isLoading"
                    styleClass="p-datatable-striped" [style]="{ width : '100%'}" responsiveLayout="scroll">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="text-center" style="width: 150px"></th>
                            <th class="whitespace-normal break-all" style="width: 200px" *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td class="text-center" style="width: 150px">
                                <button mat-icon-button [color]="'primary'" *ngIf="authorizeAccess.isEdit"
                                    (click)="onView(rowData.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                </button>
                                <button mat-icon-button [color]="'warn'" *ngIf="authorizeAccess.isDelete">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </td>
                            <td style="width: 200px" *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-paginator [rows]="roleList?.pagination?.pageSize" [totalRecords]="roleList?.pagination?.totalRecord"
                [rowsPerPageOptions]="[10,25,50]" [showPageLinks]="false" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPageChange)="paginate($event)">
            </p-paginator>
        </div>

    </div>
</div>
