<div class="flex flex-col flex-auto h-auto min-w-0">

    <!-- Header -->
    <div class="bg-card dark:border-b">
        <div class="flex flex-col w-full max-w-screen-auto mx-auto">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                    </div>
                    <div class="flex flex-col min-w-0">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight md:leading-snug truncate">
                                welcome-To App User!</div>
                        </ng-container>

                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">You have 2 new request and 15 new
                                tasks</div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3 mr-6">
                    <button class="fuse-mat-button-rounded bg-accent-600" mat-flat-button [color]="'accent'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="ml-2">Request</span>
                    </button>
                    <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Search -->
    <div class="w-auto m-4">
        <mat-accordion multi>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b class="text-2xl m-2">Search</b>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider class="my-4"></mat-divider>

                <div class="grid lg:grid-cols-4 md:grid-cols-4 sm:grid-cols-1 flex-wrap">
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="grid lg:grid-cols-4 md:grid-cols-4 sm:grid-cols-1 flex-wrap">
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" placeholder="Search" />
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col m-2">
                        <h1>Search</h1>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input matInput
                                class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2 pl-5"
                                type="text" aria-label="Search" placeholder="Search" />
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider class="my-4"></mat-divider>
                <div class="grid grid-row lg:justify-end md:w-full">
                    <button type="button" mat-button class="bg-gray-700 bg-opacity-75 text-white">Search</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>



    <!-- grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-auto min-w-0 m-4">
        <!-- Summary -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #summaryMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
                <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
                <div class="flex items-center justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Completed:</div>
                    <div class="ml-1.5 text-lg font-semibold">13</div>
                </div>
            </div>
        </div>
        <!-- Overdue -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #overdueMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
                <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
                <div class="flex items-center justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">From yesterday:</div>
                    <div class="ml-1.5 text-lg font-semibold">9</div>
                </div>
            </div>
        </div>
        <!-- Issues -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #issuesMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
                <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
                <div class="flex items-center justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Closed today:</div>
                    <div class="ml-1.5 text-lg font-semibold">19</div>
                </div>
            </div>
        </div>
        <!-- Features -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
            <div class="flex items-start justify-between">
                <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
                <div class="ml-2 -mt-2 -mr-3">
                    <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #featuresMenu="matMenu">
                        <button mat-menu-item>Yesterday</button>
                        <button mat-menu-item>2 days ago</button>
                        <button mat-menu-item>3 days ago</button>
                    </mat-menu>
                </div>
            </div>
            <div class="flex flex-col items-center mt-2">
                <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
                <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
                <div class="flex items-center justify-center w-full mt-5 text-secondary">
                    <div class="text-md font-medium truncate">Implemented:</div>
                    <div class="ml-1.5 text-lg font-semibold">16</div>
                </div>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="example-container m-6">

        <table mat-table class="example-table-container  mat-elevation-z2" [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [showFirstLastButtons]=true #paginator></mat-paginator>

</div>
