table {
    width: 100%;
}

.example-table-container {
position: relative;
min-height: auto !important;
max-height: auto !important;
min-width: 100% !important;
max-width: 100% !important;
overflow: auto;
}

th{
border-right: 1px solid;
border-color: #e2e8f0;
width: auto;
background-color: #f1f4f9;
align-items: center;
}

td{
border-right: 1px solid;
border-color: #e2e8f0;
width: auto;
}

