<div class="flex flex-col flex-auto h-auto min-w-0">

    <!-- Header -->
    <div class="bg-card dark:border-b">
        <div class="flex flex-col w-full max-w-screen-auto mx-auto">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                    </div>
                    <div class="flex flex-col min-w-0">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight md:leading-snug truncate">
                                welcome-To Standard Framework2!</div>
                        </ng-container>

                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">You have 2 new request and 15 new
                                tasks</div>
                        </div>
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3 mr-6">
                    <!-- <button class="fuse-mat-button-rounded bg-accent-600" mat-flat-button [color]="'accent'"
                    matBadgeColor="accent" matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="ml-2">Request</span>
                    </button> -->
                    <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                        <span class="ml-2">Settings</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Search -->
    <div class="w-auto m-4">
        <div class="flex flex-col flex-auto mt-6">
            <div class="bg-white w-full p-6">
                <div class="w-full" id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis"
                    [labels]="chartOptions.labels" [legend]="chartOptions.legend" [title]="chartOptions.title"
                    [subtitle]="chartOptions.subtitle"></apx-chart>
            </div>
            </div>

        </div>
    </div>

</div>
