<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex  sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center justify-between min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div
                            class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate ng-star-inserted">
                            Users Management
                        </div>

                        <div class="flex items-center">
                            <div class="ml-1.5 leading-6 truncate text-secondary">
                                manage users, create edit or delete
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center ml-6">
                    <button class="fuse-mat-button-rounded hidden sm:inline-flex" mat-flat-button [color]="'primary'"
                        *ngIf="authorizeAccess?.isCreate">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                        <span class="ml-2">Add User</span>
                    </button>

                    <!-- Actions menu (visible on xs) -->
                    <div class="sm:hidden">
                        <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item>Add User</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Search Panel -->
        <mat-expansion-panel multi [formGroup]="searchFrom"
            class="flex flex-col flex-auto w-full max-w-screen-xl mt-2 bg-card shadow rounded-2xl ">
            <mat-expansion-panel-header [collapsedHeight]="'50px'">
                <mat-panel-title>
                    <div class="mr-4 text-lg font-bold tracking-tight leading-6 truncate">Search</div>
                </mat-panel-title>
                <mat-panel-description>
                    This is the primary search of the panel.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider class="my-4"></mat-divider>
            <div class="grid grid-cols-1 md:grid-cols-2 flex-wrap">
                <div class="flex flex-col m-2">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username"
                            class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2"
                            type="text" aria-label="Search" placeholder="" />
                    </mat-form-field>
                </div>
                <div class="flex flex-col m-2">
                    <mat-form-field>
                        <mat-label>Full Name</mat-label>
                        <input matInput formControlName="fullName"
                            class="focus:border-light-blue-500 w-full text-md text-black placeholder-gray-500 border border-gray-200 rounded-md py-2"
                            type="text" aria-label="Search" placeholder="" />
                    </mat-form-field>
                </div>
                <div class="flex m-2">
                    <mat-form-field class="flex-auto">
                        <mat-label>Role</mat-label>
                        <mat-select placeholder="Choose an option" formControlName="role">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let option of rolesOptions" [value]="option.id">
                                {{option.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex m-2">
                    <mat-form-field class="flex-auto">
                        <mat-label>Active / Inactive</mat-label>
                        <mat-select placeholder="Choose an option" formControlName="isActive">
                            <mat-option>None</mat-option>
                            <mat-option [value]="true">Active</mat-option>
                            <mat-option [value]="false">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- Footer -->
            <mat-divider class="my-4"></mat-divider>
            <div class="flex items-center justify-end w-full mt-8">
                <button mat-button (click)="onReset()">
                    <span class="ml-2">Reset</span>
                </button>
                <button class="fuse-mat-button-rounded ml-2" mat-flat-button [color]="'primary'" (click)="onSearch()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <span class="ml-2">Search</span>
                </button>
            </div>

        </mat-expansion-panel>

        <!-- Table -->
        <div class="flex flex-col flex-auto w-full max-w-screen-xl mt-8 bg-card shadow rounded-2xl ">
            <div class="p-6">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Table of transactions</div>
                <!-- <div class="text-secondary font-medium">1 pending, 4 completed</div> -->
            </div>

            <div class="mx-6 mb-6 overflow-auto" style="min-height: 400px">
                <p-table [value]="userList?.items" [loading]="isLoading" styleClass="p-datatable-striped p-datatable-sm"
                    [style]="{ width : '100%'}" responsiveLayout="scroll">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="text-center" style="width: 150px"></th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Username
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Role
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Email
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Full Name
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                IsActive
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Login Attemp Count
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Last Login
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Last Change Password
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Created By
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Created Date
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Modified By
                            </th>
                            <th class="whitespace-normal break-all" style="width: 200px">
                                Modified Date
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr>
                            <td class="text-center" style="width: 150px">
                                <button mat-icon-button [color]="'primary'" *ngIf="authorizeAccess?.isView"
                                    (click)="onView(rowData.id)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                </button>
                                <button mat-icon-button [color]="'warn'" *ngIf="authorizeAccess?.isDelete"
                                    (click)="onDelete(rowData)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </td>
                            <td style="width: 200px">
                                {{rowData.username}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.roleDescription}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.email}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.fullName}}
                            </td>
                            <td style="width: 200px">
                                <span
                                    [ngClass]="{ 'bg-green-200 text-green-800': rowData.isActive , 'bg-red-200 text-red-800': !rowData.isActive }"
                                    class="text-md font-medium px-3 rounded-full w-max ng-star-inserted">
                                    {{rowData.isActive ? 'Active': 'Inactive'}}
                                </span>
                            </td>
                            <td style="width: 200px">
                                {{rowData.loginAttemptCount}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.lastLogin}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.lastChangePwd}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.createdBy}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.createdDate}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.modifiedBy}}
                            </td>
                            <td style="width: 200px">
                                {{rowData.modifiedDate}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="13">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <p-paginator [rows]="userList?.pagination?.pageSize" [totalRecords]="userList?.pagination?.totalRecord"
                [rowsPerPageOptions]="[10,25,50]" [showPageLinks]="false" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPageChange)="paginate($event)">
            </p-paginator>
        </div>
    </div>

</div>
