table {
    width: 100%;
}

tr {
    border: 1px solid #ebebeb;
}

th {
    border-right: 1px solid #e2e8f0;
    border-color: #e2e8f0;
    width: auto;
    background-color: #f1f4f9;
    align-items: center;
}

td {
    border-right: 1px solid #ebebeb;
    border-color: #e2e8f0;
    width: auto;
}
tbody{
    background-color: #f1f4f9;
}

.mat-table {
    min-width: 100% !important;
    width: 100% !important;

    tbody > :nth-child(2n + 2) {
        background-color: #f1f4f9;
    }
    // .mat-row:nth-child(2n+2){
    //   background-color: #fff;
    // }
}
